.categoryList {
  text-align: center;
  font-size: 16px;
  flex: 1 1 24%;
  border-radius: 6px;
  padding: 8px;
  background-color: #fcfcfc;
  border: 1px solid rgb(169, 231, 255);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0px;
}

.categoryList:hover {
  background-color: #c2e9ff;
  border: 1px solid #0db1f2;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px;
}
