.head {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 60px;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.head > div {
  margin: 0 auto;
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head > div .boxleft {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.head > div .boxleft > .brand-logo > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-left: 15px;
}

.menu-item {
  list-style: none;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
}
.menu-item i {
  margin-right: 5px;
}
.menu-item:hover {
  background: #77d7fe;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.boxright {
  position: relative;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}
.boxright:hover {
  background: #77d7fe;
  cursor: pointer;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.cartCount {
  position: absolute;
  top: 0;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  font-size: 13px;
  padding: 0 2px;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
}
